doctype html
html
	head
		meta charset="utf-8"
		title Whitesquare
		link rel="stylesheet" href="/styles.css"
		link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css"
		/[if lt IE 9]
			script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"
	body.whitesquare
		hr
		header
			a.logo href="/": img src="logo.png"
			div.search
				input type="text" placeholder="Search" 
				div.button Go
		nav
			ul
				li: a href="#" Home
				li: a.active href="#" About us
				li: a href="#" Services
				li: a href="#" Partners
				li: a href="#" Projects
				li: a href="#" Careers
				li: a href="#" Contact
		div.slider
			div.screen
			ul
				li
					div.index 1
					div.title Lorem ipsum dolop
				li.active
					div.index 2
					div.title Ultricies peletesque
				li
					div.index 3
					div.title Aliquam ipsum
				li
					div.index 4
					div.title Nullam sed maurus ut
		div.main
			div.big-news
				article
					div.title
						h1 About whitesquare
						div.filler &nbsp;
					figure: img width="136" height="136" alt="" src="sample.png"
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum metus ligula, vitae bibendum augue fermentum non. Fusce euismod libero eu lectus scelerisque hendrerit. Nam vel fermentum tellus, vel lobortis felis. Phasellus dolor ipsum, vehicula ac justo quis, scelerisque tempus nibh.
				article
					div.title
						h1 A word from our CEO
						div.filler &nbsp;
					figure: img width="136" height="136" alt="" src="sample.png"
					p: i "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum metus ligula, vitae bibendum augue fermentum non. Fusce euismod libero eu lectus scelerisque hendrerit. Nam vel fermentum tellus, vel lobortis felis. Phasellus dolor ipsum, vehicula ac justo quis, scelerisque tempus nibh."
					p Yane Naumovski, CEO
			div.news
				article
					div.title
						h1 Service
						div.filler &nbsp;
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum metus ligula, vitae bibendum augue fermentum non. Fusce euismod libero eu lectus scelerisque hendrerit. Nam vel fermentum tellus, vel lobortis felis. Phasellus dolor ipsum, vehicula ac justo quis, scelerisque tempus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum metus ligula, vitae bibendum augue fermentum non. Fusce euismod libero eu lectus scelerisque hendrerit. Nam vel fermentum tellus, vel lobortis felis. Phasellus dolor ipsum, vehicula ac justo quis, scelerisque tempus nibh.
				article
					div.title
						h1 Our teams
						div.filler &nbsp;
					figure: img width="36" height="36" alt="" src="sample.png"
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum metus ligula, vitae bibendum augue fermentum non.
					figure: img width="36" height="36" alt="" src="sample.png"
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum metus ligula, vitae bibendum augue fermentum non.
					figure: img width="36" height="36" alt="" src="sample.png"
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum metus ligula, vitae bibendum augue fermentum non.
				article
					div.title
						h1 24/7/365 SUPPORT
						div.filler &nbsp;
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum metus ligula, vitae bibendum augue fermentum non. Fusce euismod libero eu lectus scelerisque hendrerit. Nam vel fermentum tellus, vel lobortis felis. Phasellus dolor ipsum, vehicula ac justo quis, scelerisque tempus nibh.
			div.clients
				div.title
					h1 Our Clients
					div.filler &nbsp;
				a href="#": img alt="client1" src="client1.png"
				a href="#": img alt="client2" src="client2.png"
				a href="#": img alt="client3" src="client3.png"
				a href="#": img alt="client4" src="client4.png"
				a href="#": img alt="client5" src="client5.png"
				a href="#": img alt="client6" src="client6.png"
				a href="#": img alt="client7" src="client7.png"
		footer
			div.info
				div.twitter-feed
					h1 Twitter feed
					p
						a href="#" 23 oct
						br
						| Fusce euismod libero eu lectus scelerisque hendrerit. Nam vel fermentum tellus, vel lobortis felis. Phasellus dolor ipsum, vehicula ac justo quis, scelerisque tempus nibh.
				div.sitemap
					h1 Sitemap
					div.column
						a href="#" Home
						a href="#" About
						a href="#" Service
					div.column
						a href="#" Partners
						a href="#" Support
						a href="#" Contact
				div.social-networks
					h1 Social networks
					div.big-icons
						a.twitter href="#": img alt="twitter logo" src="social-twitter.png"
						a.facebook href="#": img alt="facebook logo" src="social-facebook.png"
						a.gplus href="#": img alt="gplus logo" src="social-gplus.png"
					div.small-icons
						a.vimeo href="#": img alt="vimeo logo" src="social-vimeo.png"
						a.flickr href="#": img alt="flickr logo" src="social-flickr.png"
						a.inst href="#": img alt="instagram logo" src="social-inst.png"
						a.rss href="#": img alt="rss logo" src="social-rss.png"
					
				div.credits
					a.logo href="#": img src="footer-logo.png" alt="Whitesquare logo"
					p
						| Copyright &copy; 2012 Whitesquare. A 
						a href="http://pcklab.com" &nbsp;pcklab&nbsp;
						| creation
			