@width: 960px;
@light-gray: #f3f3f3;
@light-blue: #29c5e6;
@dark-gray: #7e7e7e;

.tahoma-font{
	font: 12px Tahoma, sans-serif;
	font-weight: thin;
	font-size: 12px;
}

.gray-noise{
    width: 100%;
    margin: 0;
    background-color: #f7f7f7;
    color: #8f8f8f;
    background: url("bg.png");
}

.thick-headerline{
    height:5px;
    background-color:#7e7e7e;
}

.full-width{
    margin: 0;
    width:100%;
}

.oswald-font{
	font-family: 'Oswald', sans-serif;
}

.clearfix{
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
    
    &:after{
    	clear: both;
    }
}

.block{
	width: 960px;
    margin: 0 auto;
    margin-top:27px;
    display: block;
	.clearfix;    
}

.gray-element{
	background-color:#f3f3f3;
	border: 1px solid #e7e7e7;				
}

.complex-title{
	display: table;
	height: 15px;
	margin-bottom: 15px;
	margin-right: 10px;
	h1{
		&:before{
			display: block;
			content: " ";
			background-color: @light-blue;
			width: 15px; height: 15px;
			margin-left: -20px;
			float: left;
		}

		display: table-cell;

		padding-left: 20px;

		font-size: 12px;
		text-transform: uppercase;
		white-space:nowrap;
		padding-right: 5px;
	}

	.filler{
		background-color: black;
		display: table-cell;
		width: 100%;
		background: url(h1-bg.png);
	}

	.clearfix;
}

.custom-figure(@size){
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 10px;
	display: block;
	width: @size; height: @size;
	float: left;
	background-color: @light-gray;
	border: 1px solid #c9c9c9;
	img{
		margin: 1px;
	}
}


.big-gray-input{
	height:32px;
	padding:0 10px;
	display: inline-block;
	background-color: #f3f3f3;
	border:1px solid #e7e7e7;
	width: 135px;
	border-right:none;
}

.big-blue-button{
	height: 32px;
	padding: 0 10px;
	line-height: 34px;
	display: inline-block;
	cursor: pointer;
	color: #fefefe;
	background-color: #29c5e6;
	border: 1px solid #29c5e6;
	text-transform: uppercase;
}

.navbar-link{
	width: 135px;
	text-align:center;
	color:#bfbfbf;
	cursor:pointer;
	font-size:14px;
	height:38px;
	line-height:38px;
	display:table-cell;
	text-decoration: none;
	text-transform: uppercase;
	
	&.active{
		color:#fefefe;
		background-color:#29c5e6;
		border:1px solid #29c5e6;
	}
}

.slider-link{
	width: 25%;
	display: inline-block;
	margin-top: 12px;
	font-size: 15px;
	line-height: 21px;
	cursor: pointer;
		
	.index{
		margin-left: 12px;
		float: left;
		background-color: #8f8f8f;
		color: white;
		text-align: center;
		width: 24px; height: 24px;
	}
	.title{
		margin-left: 12px;
		float: left;
		height: 24px;
		text-transform: uppercase;
	}

	&.active{
		.index{
			background-color: @light-blue;
			color: white;	
		}
		.title{
			color: @light-blue;
		}
	}
}


.light-underlined-text{
	color: #f6f6f6;
	border-bottom: 1px solid #919191;
	font-size: 14px;
	margin-right: 20px;
	text-transform: uppercase;
}

.light-link-without-undelining{
	display: block;
	color: #dbdbdb;
	text-decoration: none;
	font-size: 12px;
	&:hover{
		text-decoration: underline;
	}
}

.small-gray-text{
	color: #dbdbdb;
	font-size: 10px;
}