@import 'helpers';

.whitesquare{
	.full-width;
	.gray-noise;
	.tahoma-font;
	
	hr{
		.full-width;
		.thick-headerline;
	}

	h1{
		.oswald-font;
	}

	header{
		.block;

		a.logo{
    		float: left;
			height: 36px;
		}

		.search{
		    float: right;

			input{
				.big-gray-input;
			}

			.button{
				.big-blue-button;
			}
		}
	}

	nav{
		.block;

		ul{
			margin: 0px;
			padding: 0px;
			li{
				display: inline-block;
				a{
					.gray-element;
					.navbar-link;
				}
			}
		}
	}

	div.slider{
		.block;

		.screen{
			background-color: #e2e2e2;
			height: 280px;
		}

		ul{
			margin: 0px;
			height: 50px;
			background-color: #f3f3f3;
			padding: 0px;

			li{
				.slider-link;
			}
		}
	}

	.main{
		.block;
		width: @width - 20px;

		.big-news{
			article{
				float: left;
				width: 50%;
				
				.title{
					.complex-title;
				}
				figure{
					.custom-figure(138px);
				}
				p{
					margin-right: 10px;
				}
			}
		}

		.news{
			article{
				float: left;
				width: 33.3333%;
				
				.title{
					.complex-title;
				}
				figure{
					.custom-figure(38px);
				}
				p{
					margin-right: 10px;
				}
			}
			.clearfix;
		}

		.clients{
			.title{ .complex-title; }

			a{
				margin-left: 12px;
				margin-right: 12px;
				display: inline-block;
			}
			margin-bottom: 50px;
		}
	}

	footer{
		min-height: 100px;
		background-color: @dark-gray;

		.info{
			.block;

			h1{
				.light-underlined-text;
			}

			p{
				margin-right: 20px;
				.small-gray-text;
			}

			.twitter-feed{
				width: @width / 3;
				float: left;
				a{
					color: #b4aeae;
				}
			}

			.sitemap{
				width: @width / 6;
				float: left;
				.column{
					float: left;
					width: @width / 12;
				}
				a{
					.light-link-without-undelining
				}
			}

			.social-networks{
				width: @width / 6;
				float: left;
				.big-icons{
					a{
						margin: 4px;
					}
				}
				.small-icons{
					a{
						margin: 6px;
					}
				}
			}

			.credits{
				width: @width / 3;
				float: left;
				padding-top: 20px;
				a.logo{
					display: block;
					float: right;
				}
				p{
					float: right;
					font-size: 10px;
					a{
						color: inherit;
					}
				}
			}
		}
	}
}